# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.pid.lock

# Coverage directory used by testing frameworks like Jest
coverage/

# Optional npm cache directory
.npm

# Environment variables
.env

# Typescript cache
*.tsbuildinfo

# Dependency directories
/.pnp
.pnp.js

# IDE and editor settings
.idea/
.vscode/
*.swp
*.swo

# Output from the build process
dist/
build/

# Optional yarn lock file
.yarn-integrity

# Mac OS specific
.DS_Store

# Logs from jest
jest_output/
